@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&display=swap");
#image {
  float: right;
  width: 150px;
  padding: 20px;
  margin-right: 50px;
}
header,
footer {
  background-color: rgb(186, 245, 153);
  height: 5em;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-family: "Playfair Display", Times New Roman, serif;
  margin-left: 100px;
}
h2 {
  font-size: 1.8em;
  font-family: "Playfair Display", Times New Roman, serif;
}
p {
  padding: 5px;
  text-align: center;
  margin-right: 150px;
}
