@media only screen and (min-width: 32.5em) {
  header {
    height: 150px;
  }
  main {
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
  }
  h1 {
    font-size: 2.4em;
    margin-top: 50px;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:first-child {
    display: none;
  }
  .main-part {
    font-size: 1.5em;
    height: 30px;
  }
}
