html {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8em;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin: 0 auto;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: #e7ffed;
}

tr:nth-child(odd) td {
  background-color: #e7f0ed;
}
tr:nth-child(4) td:nth-child(3),
tr:nth-child(2) th {
  background-color: #628ca6;
  color: white;
}
tr:nth-child(1) th {
  background-color: #7fb9c2;
  font-weight: bold;
  font-size: 2em;
}
#last {
  background-color: #7fb9c2;
  font-size: 0.7em;
  font-weight: bold;
}
