@media only screen and (min-width: 60em) {
  header {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 180px;
  }
  .logo {
    margin-left: 30%;
  }
  nav {
    margin: 0 auto;
    background-color: #ffffff;
    width: 60%;
    margin-top: 5%;
  }

  .navigation a {
    text-align: center;
    font-size: 1.2em;
    padding: 0.5rem;
    font-weight: 525;
    color: black;
  }
  .navigation li {
    margin-right: 3%;
  }
  .bannertext h1 {
    font-size: 3em;
  }
  .advertisement-text {
    padding: 10px;
    font-size: 1vw;
  }
  .advertisement-text-two {
    padding: 10px;
    font-size: 1vw;
  }
  .advertisement-text-three {
    padding: 10px;
    font-size: 1vw;
  }
  .advertisement-one {
    grid-template-columns: 3fr 2fr;
    width: 70%;
    margin-top: 50px;
    border: 5px solid white;
  }
  .advertisement-two {
    grid-template-columns: 1fr 2fr;
    width: 70%;

    margin-top: 10px;
    border: 5px solid white;
  }
  .advertisement-three {
    grid-template-columns: 3fr 2fr;
    width: 70%;
    margin-top: 10px;
    border: 5px solid white;
  }
  .social-media {
    width: 40%;
  }
}
