/*css for the header*/
body {
  width: 100%;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Lato", sans-serif;
}
header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 180px;
  background-color: #ffffff;
  max-width: 100%;
}
.logo {
  max-width: 100%;
  max-height: 100%;
  width: 80%;
  margin: 0 auto;
}
/*css specificaly for the nav*/

nav {
  margin: 0 auto;
  margin-top: 0;
  width: 100%;
  max-width: 100%;
  background-color: #0f1e3f;
  padding: 0;
}
.navigation {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
  margin: 0;
  padding: 0;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  transition: 0.5s;
  font-family: "Open Sans", sans-serif;
}
.navigation a:hover {
  color: rgb(0, 0, 0);
  background-color: #ffdd00;
}

.responsive li {
  display: block;
}
/*css for the banner*/
.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 150px;
  max-width: 100%;
  width: 100%;
  background-color: #1976d2;
}
.chamberbanner {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.bannertext h1 {
  font-family: "Corinthia", cursive;
  text-align: center;
  margin-top: 5%;
  font-size: 1.8em;
  color: white;
}
/*css for the advertisements*/
.advertisement-one {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  border: 5px solid white;
}
.advertisement-two {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  border: 5px solid white;
}
.advertisement-three {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  border: 5px solid white;
}
video {
  width: 100%;
}
.advertisement-text {
  text-align: center;
  padding: 10px;
  background-color: #fcfcec;
  font-size: 1em;
}
.advertisement-text-two {
  text-align: center;
  padding: 10px;
  background-color: #f0fbf9;
  font-size: 1em;
}
.advertisement-text-three {
  text-align: center;
  padding: 10px;
  background-color: #fcfcec;
  font-size: 1em;
}
.advertisement-two img,
.advertisement-three img {
  max-width: 100%;
  width: 100%;
}

.advertisement-text h2,
.advertisement-text-two h2,
.advertisement-text-three h2 {
  font-family: "Lato", sans-serif;
}
/*css for the chamber and contact info*/
.chamberandcontact {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;

  gap: 10px;
}
.chamber {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
}
.chamber img {
  max-width: 100%;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.chamber ul {
  margin-left: 10%;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
}
.chamber a {
  text-decoration: none;
  margin: 0 auto;
}
.chamber a h2 {
  background-color: white;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 30px;
  margin: 0 auto;
  margin-bottom: 15px;
  color: black;
  border: 2px solid black;
}
.chamber a h2:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.contact {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contact h3 {
  font-size: 1.7em;
}
.contact p {
  font-size: 1.5em;
}
.social-media {
  display: grid;
  width: 75%;
  max-width: 90%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  margin-top: 5%;
}
.social-media img {
  max-width: 100%;
  width: 100%;
  filter: grayscale(100%);
}
.social-media img:hover {
  filter: grayscale(0%);
}
