@media only screen and (min-width: 32.5em) {
  header {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 42px;
  }
  .logo {
    margin: 0 auto;
    width: 200px;
  }
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
    height: 100%;
  }
  nav {
    margin-top: 0;
    width: 100%;
    max-width: 100%;
    background-color: #0f1e3f;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    width: 100%;
    font-weight: 525;
  }
  .navigation li:first-child {
    display: none;
  }
  .banner {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 100%;
    max-width: 100%;
    width: 100%;
  }
  .flex {
    display: flex;
  }

  .bannertext h1 {
    font-size: 2em;
    margin-top: 30%;
  }
  .advertisement-text {
    padding: 0px;
    font-size: 1.4vw;
  }
  .advertisement-text-two {
    padding: 0px;
    font-size: 1.4vw;
  }
  .advertisement-text-three {
    padding: 0px;
    font-size: 1.4vw;
  }
  .advertisement-one {
    grid-template-columns: 3fr 2fr;
    margin-top: 50px;
    border: 5px solid white;
  }
  .advertisement-two {
    grid-template-columns: 1fr 2fr;
    margin-top: 10px;
    border: 5px solid white;
  }
  .advertisement-three {
    grid-template-columns: 3fr 2fr;
    margin-top: 10px;
    border: 5px solid white;
  }
  .chamberandcontact {
    grid-template-columns: 1fr 1fr;
  }
  .social-media {
    width: 60%;
  }
  .weather {
    grid-template-columns: 3fr 1fr;
    margin: 0 auto;
    width: 70%;
    margin-top: 40px;
  }
  .current {
    border-right: none;
    margin-left: 0%;
    margin-right: 0%;
  }
  .weatherandevents {
    grid-template-columns: 3fr 1fr;
  }

  .placestovisit {
    grid-template-columns: 1fr 1fr;
  }
  .placestoevents {
    grid-template-columns: 1fr 1fr;
  }
  .titlevents {
    margin-top: 100px;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cards2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  form {
    padding: 5px;
  }
  form fieldset {
    margin: 1rem 1rem;
    padding: 0.5rem 10%;
  }
  form label.top input,
  form label.top select {
    width: 100%;
    max-width: 35rem;
  }
  form label.sbs {
    padding: 0.25rem 0;
  }
  form input.submitBtn {
    padding: 0.75rem 1.5rem;
    margin-top: 10px;
    margin-left: 0%;
    width: 250px;
    height: 70px;
    max-width: 20rem;
    font-size: 2em;
    background-color: #e4e296;
    border: 2px solid black;
    color: black;
  }
  form input.submitBtn:hover {
    width: 255px;
    height: 72px;
    margin-top: 8px;
    margin-left: 0%;
    max-width: 100%;
    overflow: hidden;
    background-color: #ffdd00;
  }
  form legend {
    font-size: 2em;
  }
  #footer {
    margin-top: 0px;
  }
}
