/*css for the header*/
body {
  width: 100%;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Lato", sans-serif;
}
header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 180px;
  background-color: #ffffff;
  max-width: 100%;
}
.logo {
  max-width: 100%;
  max-height: 100%;
  width: 80%;
  margin: 0 auto;
}
footer {
  background-color: rgb(226, 224, 224);
  width: 100%;
  margin-top: 50px;
  height: 200px;
  bottom: 0px;
  text-align: center;
  padding-top: 20px;
}
footer p {
  font-size: 1.3em;
  font-weight: 800;
}
/*css specificaly for the nav*/

nav {
  margin: 0 auto;
  margin-top: 0;
  width: 100%;
  max-width: 100%;
  background-color: #0f1e3f;
  padding: 0;
}
.navigation {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
  margin: 0;
  padding: 0;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  transition: 0.5s;
  font-family: "Open Sans", sans-serif;
}
.navigation a:hover {
  color: rgb(0, 0, 0);
  background-color: #ffdd00;
}
.active {
  background-color: #ffdd00;
}

.responsive li {
  display: block;
}
/*css for the banner*/
.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 150px;
  max-width: 100%;
  width: 100%;
  background-color: #1976d2;
  margin-bottom: 30px;
}
.chamberbanner {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.bannertext h1 {
  font-family: "Corinthia", cursive;
  text-align: center;
  margin-top: 5%;
  font-size: 1.8em;
  color: white;
}
/*css for the advertisements*/
.advertisement-one {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  border: 5px solid white;
}
.advertisement-two {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  border: 5px solid white;
}
.advertisement-three {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  border: 5px solid white;
}
video {
  width: 100%;
}
.advertisement-text {
  text-align: center;
  padding: 10px;
  background-color: #fcfcec;
  font-size: 1em;
}
.advertisement-text-two {
  text-align: center;
  padding: 10px;
  background-color: #f0fbf9;
  font-size: 1em;
}
.advertisement-text-three {
  text-align: center;
  padding: 10px;
  background-color: #fcfcec;
  font-size: 1em;
}
.advertisement-two img,
.advertisement-three img {
  max-width: 100%;
  width: 100%;
}

.advertisement-text h2,
.advertisement-text-two h2,
.advertisement-text-three h2 {
  font-family: "Lato", sans-serif;
}
/*css for the chamber and contact info*/
.chamberandcontact {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;

  gap: 10px;
}
.chamber {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
}
.chamber img {
  max-width: 100%;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.chamber ul {
  margin-left: 10%;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
}
.chamber a {
  text-decoration: none;
  margin: 0 auto;
}
.chamber a h2 {
  background-color: white;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 30px;
  margin: 0 auto;
  margin-bottom: 15px;
  color: black;
  border: 2px solid black;
}
.chamber a h2:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.contact {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contact h3 {
  font-size: 1.7em;
}
.contact p {
  font-size: 1.5em;
}
.social-media {
  display: grid;
  width: 75%;
  max-width: 90%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  margin-top: 5%;
}
.social-media img {
  max-width: 100%;
  width: 100%;
  filter: grayscale(100%);
}
.social-media img:hover {
  filter: grayscale(0%);
}
/*css for the weather*/
.weather {
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
  margin-left: 15%;
  margin-top: 40px;
}
.current {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
.current p {
  font-size: 1.4em;
  font-weight: 800;
}
.current img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 10%;
}
.flex {
  width: 100%;
  max-width: 100%;
}
.flex {
  flex-flow: column wrap;
  border-right: 1px solid #333;
}
.flex-col {
  flex: 1 1 auto;
  background-color: rgb(227, 240, 235);
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  text-align: center;
  font-weight: 800;
}
.col-head {
  display: block;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  background-color: #1976d2;
  color: white;
}
.flex-col img {
  width: 100px;
}
/*css for the events and for the container or the weather and the events*/
.weatherandevents {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin-top: 40px;
}
.events {
  padding: 5%;
  text-align: center;
  margin-top: 10%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.events h2 {
  word-break: break-all;
}
.events ul {
  font-family: "Lato", sans-serif;
  font-size: 1.4em;
}
.events li {
  margin-top: 20px;
}
/*css for the banner of the city page*/
.banner2 {
  background-color: #000000;
}
.bannertext2 h1 {
  color: rgb(255, 255, 255);
}
main {
  text-align: center;
}
/*css for the places to visit*/
.placestovisit {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5%;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  max-height: 100%;
}
.placestoevents {
  grid-template-columns: 1fr;
  margin-top: 20px;
}
.placestovisit img {
  max-width: 400px;
  width: 100%;
}
.placestovisit div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5%;
}
.placestovisit p {
  font-size: 1.4em;
}
.titlevents {
  margin-top: 200px;
}
/*css for the directory page*/
.main {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer {
  margin-top: 0;
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  gap: 5px;
}
.cards section,
.cards2 section {
  border: 1px solid rgb(124, 123, 123);
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 500px;
  background-color: #fcfcec;
  padding: 5%;
}
.cards section img,
.cards2 section img {
  max-width: 100%;
}
.cards p,
.cards2 p {
  font-size: 1.3em;
  font-weight: 800;
}
.cards2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
.buttons {
  display: flex;
  margin-left: 0;
}
/*css for the banner join page*/
.banner3 {
  background-color: #1976d2;
}

/* this is the css for the form*/
form {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 5px;
}
form fieldset {
  margin: 1rem 1rem;
  border: 1px solid #445ba9;
  border-radius: 10px;
  padding: 0.5rem 10%;
  background-color: #fcfcec;
}
form legend {
  color: #445ba9;
  margin: 0 1rem;
  padding: 0 0.5rem;
}
form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: 0.8rem;
}
form label.top input,
form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 35rem;
  background-color: rgba(0, 0, 0, 0.1);
}
form label.sbs {
  display: block;
  padding: 0.25rem 0;
  color: #555;
}
form input.submitBtn {
  border: none;
  background-color: #9c2c13;
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin-top: 10px;
  margin-left: 35%;
  width: 250px;
  height: 70px;
  max-width: 20rem;
}
form label.top input:required {
  border-left: red solid 6px;
}
form label.top input:required:valid {
  border-left: green solid 6px;
}
#ratingvalue {
  color: #076ae1;
  font-weight: bold;
}

#comment {
  width: 85%;
  height: 100px;
  max-width: 100%;
}
form {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 2px;
  font-family: "Lato", sans-serif;
  font-size: 1.4em;
}
form fieldset {
  margin: 0.5rem 0.5rem;
  border: 1px solid #000000;
  border-radius: 0px;
  padding: 0.5rem 5%;
  background-color: #ffffea;
}
form legend {
  color: #445ba9;
  font-size: 1.4em;
  margin: 0 1rem;
  padding: 0 0.5rem;
}
form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 800;
}
form label.top input,
form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 85%;
  background-color: rgba(0, 0, 0, 0.1);
}
form label.sbs {
  display: block;
  padding: 0.5rem 0;
  color: #555;
}
form input.submitBtn {
  border: none;
  background-color: #ffdd00;
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin-top: 10px;
  margin-left: 10%;
  width: 150px;
  height: 50px;
  max-width: 100%;
  font-size: 1.3em;
  border: 2px solid black;
}

form label.top input:required {
  border-left: red solid 6px;
}
form label.top input:required:valid {
  border-left: green solid 6px;
}
.benefits {
  font-family: "Lato", sans-serif;
}
#footer {
  margin-top: 0;
}
/*css for the contact page*/
iframe {
  width: 100%;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
}
#form {
  margin-bottom: 40px;
}
.directors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 250px;
  width: 90%;
  margin: 0 auto;

  row-gap: 5px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.directors img {
  max-width: 100%;
  width: 100%;
}
